@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  min-height: 100vh;
}

/* Typing animation */
.typing-animation {
  border-right: 2px solid #666;
  animation: blink 0.75s step-end infinite;
}

@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: #666; }
} 

.katex, .katex * {
  font-family: inherit !important;
  font-size: inherit !important;
  line-height: inherit !important;
}

.font-comic {
  font-family: var(--font-comic), sans-serif;
}
